
<div class="content">
  <div class="logo">
    <div class="image_logo"></div>
    <a href="#">
      <div class="title" >
        <div class="HS">HS|Hair Salon</div>
      </div>
    </a>
  </div>
  <div class="navi">
    <div class="list-item">
      <div class="item">
        <div class="contain_item1"><a href="#"><p>Dịch Vụ</p></a>
          <div class="down">
          <div class="down-item"></div>
          <div class="dropdown-content">
            <a href="#">Uốn</a>
            <a href="#">Duỗi</a>
            <a href="#">Cắt</a>
            <a href="#">Phục Hồi</a>
            <a href="#">Nhuộm</a>
          </div>
        </div>
        </div>
        <div class="contain_item"><a href="#">GIới Thiệu</a></div>
        <div class="contain_item"><a href="#">Liên Hệ</a></div>
        <div class="contain_item"><a href="#">Giỏ Hàng</a></div>
        <div class="contain_item"><a href="#">Đăng Nhập</a></div>
      </div>
    </div>
  </div>
</div>

