*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bahnschrift";
  font-size: 14px;
  color: #f2e59f;
}
.content{
  width: 100%;
  height: 145px;
  background-image: linear-gradient(175deg, #341a01, #b49366);
  display: flex;


}
img{
  height: 40px;
  width: 40px;
}
.logo{
  font-size: 10px;
  margin: 18px 0px 18px 22px;
  width: 192px;
}

.title{
  display: flex;
  position: relative;
}
.image_logo{
  margin-left: 15px;
  width: 40px;
  height: 40px;
  background-image: url(src/assets/images/logo.png);
  background-size: cover ;
}
.HS{
  font-family: SimSun, serif;
  margin-right: 3px;
  color: #b39d66;
  font-size: 20px;
}
.navi{
  border: 15px solid transparent ;
  border-image-source: url(src/assets/images/imgnavi.png);
  border-image-slice: 13;
  border-image-repeat: round;
  width:1079px;
  margin: auto;
  margin-top: 74px;
}

.item{
  display: grid;

  grid-template-columns: 20% 20% 20% 20% 20%;
}
.contain_item{
  border: 1px solid #f2e59f;
  width: 110px;
  margin-left: 80px;
  position: relative;
  text-align: center;
}
.contain_item:after {

  content: "";
  position: absolute;
  height: 18px;
  top:0px;
  right: 150px;
  border-left: #f2e59f solid 1px;
}
.contain_item1{
  display: flex;
  position: relative;
  width: 110px;
  margin-left: 80px;

}

.contain_item1 p {
  width: 110px;
  border: 1px solid #f2e59f;
  text-align: center;
}
a{
  text-decoration: none;
}
.down-item{

  position: absolute;
  left: 120px;
  top:5px;
  clip-path: polygon(50% 0%, 100% 0, 50% 100%, 0 0);
  width: 10px;
  height: 10px;
  border: 6px solid;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.43);
  border: 1px solid #A8814C;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top :19px;
}
.dropdown-content a {
  color: #f2e59f;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: 1px solid #A8814C;
}
/*.contain_item1:hover a{background-color: #f1f1f1;}*/

.down:hover .dropdown-content {
  display: block;
}
