
<div class="content">
  <div class="logo">
    <div class="image_logo"></div>
    <a routerLink="/trang-chu" >
      <div class="title" >
        <div class="HS">HS|Hair Salon</div>
      </div>
    </a>
  </div>
  <div class="navi">
    <div class="list-item">
      <div class="item">
        <div class="contain_item1"><a routerLink="/dich-vu" ><p>Dịch Vụ</p></a>
          <div class="down">
          <div class="down-item"></div>
          <div class="dropdown-content">
            <a [routerLink]="['/san-pham','u']">Uốn</a>
            <a [routerLink]="['/san-pham','d']">Duỗi</a>
            <a [routerLink]="['/san-pham','c']">Cắt</a>
            <a [routerLink]="['/san-pham','p']">Phục Hồi</a>
            <a [routerLink]="['/san-pham','n']">Nhuộm</a>
          </div>
        </div>
        </div>
        <div class="contain_item"><a routerLink="/about-us">GIới Thiệu</a></div>
        <div class="contain_item"><a routerLink="/contact" >Liên Hệ</a></div>
        <div class="contain_item"><a routerLink="/gio-hang" >Giỏ Hàng</a></div>
        <div class="contain_item"><a routerLink="/dang-nhap" >Đăng Nhập</a></div>
      </div>
    </div>
  </div>
</div>

