<div class="container">
  <div class="container-thong-tin-ca-nhan">
    <div class="content">
  <span class="tieudethongtincanhan">
						Thông tin cá nhân
					</span>
    <p class="noidungthongtincanhan">
    Tên: Nguyễn Văn A        <br>
      <br>
    Email: nguyenvana@gmail.com<br>
      <br>
    Số điện thoại: 0345646555<br>
      <br>
    Địa chỉ: Linh Trung, Thủ Đức, Hồ Chí Minh

  </div>
  </div>
  <div class="container-don-hang">
    <span class="tieudethongtincanhan">
						Đơn hàng
					</span>
    <div class="table-don-hang">
    <table>
      <tr>
        <th>Ngày</th>
        <th>Giờ</th>
        <th>Tổng tiền</th>
        <th>Trạng thái</th>
      </tr>
      <tr>
        <td>21/05/2021</td>
        <td>8:30</td>
        <td>đ150000</td>
        <td>Hoàn tất</td>
      </tr>
      <tr>
        <td>26/05/2021</td>
        <td>9:00</td>
        <td>đ200000</td>
        <td>Đã hủy</td>
      </tr>
      <tr>
        <td>06/06/2021</td>
        <td>8:30</td>
        <td>đ200000</td>
        <td>Đang chờ</td>
      </tr>
    </table>
  </div>
  </div>
</div>
