<div class="product_container">
  <p class="san_pham">Sản Phẩm</p>
  <form class="search_form" #search='ngForm' (ngSubmit)="onSearch(search)">
    <input class="search_input" placeholder="Tìm kiếm..." ngModel name="search">
    <input type="image" class="search_button" src="assets/images/search_icon.png" alt="">
  </form>
  <span class="line"></span>
  <div class="product_table">
    <table class="table">
      <td *ngFor="let product of productList | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
        <div *ngIf="i%10<=4" class="product_top">
          <div class="img_container">
            <img class="product_img" src="assets/Data/{{product.id}}.png">
          </div>
            <button class="watch_button" (click)="onWatch(product.id)">Xem chi tiết</button>
          <div class="product_name">{{product.name}}</div><br>
          <div class="product_price">{{product.price}}</div><br>
            <button class="add_button" (click)="onAdd(product)">Thêm vào giỏ</button>
        </div>
        <div *ngIf="i%10>4" class="product_bot">
          <div class="img_container">
          <img class="product_img" src="assets/Data/{{product.id}}.png">
          </div>
          <button class="watch_button" (click)="onWatch(product.id)">Xem chi tiết</button>
          <div class="product_name">{{product.name}}</div><br>
          <div class="product_price">{{product.price}}</div><br>
          <button class="add_button" (click)="onAdd(product)">Thêm vào giỏ</button>
        </div>
      </td>
    </table>
  </div>
  <div class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
