
<div class="container">
<div class="container-dichvu">
  <div class="text">
    <p class="textDV">Dịch Vụ</p>

    <p class="textclcn">CHẤT LƯỢNG - CHUYÊN NGHIỆP</p>
    <p class="textcd"> Cá tính. Sự sáng tạo. Sức mạnh. Cách điệu. Đó là những điều làm nên vẻ đẹp</p>
  </div>
  <div class="hr1"><hr></div>
  <div class="hr2"><hr></div>
  <div class="container-dichvu-cat">
    <div class="khungden">
      <div class="text-in-khungden">
      <a class="khungden-text-a" href="#">Cắt</a>
      </div>
    </div>
      </div>
  <div class="container-dichvu-nhuom">
    <div class="khungden">
      <div class="text-in-khungden">
      <a class="khungden-text-a" href="#">Nhuộm</a>
      </div>
    </div>
  </div>
  <div class="container-dichvu-duoi">
    <div class="khungden">
      <div class="text-in-khungden">
    <div class="khungden-text">
      <a class="khungden-text-a" href="#">Duỗi</a>
    </div>
      </div>
    </div>
  </div>
  <div class="container-dichvu-uon">
    <div class="khungden">
      <div class="text-in-khungden">
      <a class="khungden-text-a" href="#">Uốn</a>
    </div>
    </div>
  </div>
  <div class="container-dichvu-pht">
    <div class="khungden">
      <div class="text-in-khungden">
      <a class="khungden-text-a" href="#">Phục hồi tóc</a>
    </div>
      </div>

  </div>
  <div class="hr3"><hr></div>
  <div class="hr4"><hr></div>
</div>
</div>


