
<body>
<div class="container">
  <div class="text">
    <p class="textDV">Dịch Vụ</p>

    <p class="textclcn">CHẤT LƯỢNG - CHUYÊN NGHIỆP</p>
    <p class="textcd"> Cá tính. Sự sáng tạo. Sức mạnh. Cách điệu. Đó là những điều làm nên vẻ đẹp</p>
  </div>
  <div class="hr1"><hr></div>
  <div class="hr2"><hr></div>
  <div class="container-dichvu-cat">
    <div class="khungden">
      <h3><a class="khungden-text-a" href="#">Cắt</a></h3>
    </div>

      </div>
  <div class="container-dichvu-nhuom">
    <div class="khungden">
      <h3><a class="khungden-text-a" href="#">Nhuộm</a></h3>
    </div>
  </div>
  <div class="container-dichvu-duoi">
    <div class="khungden">
    <div class="khungden-text">
      <h3><a class="khungden-text-a" href="#">Duỗi</a></h3>
    </div>
    </div>
  </div>
  <div class="container-dichvu-uon">
    <div class="khungden">
      <h3><a class="khungden-text-a" href="#">Uốn, Hấp dầu</a></h3>
    </div>
  </div>
  <div class="container-dichvu-csda">
    <div class="khungden">
      <h3><a class="khungden-text-a" href="#">Chăm sóc da</a></h3>
    </div>
  </div>
  <div class="hr3"><hr></div>
  <div class="hr4"><hr></div>
</div>

</body>


