
<div class="content">
  <div class="grid1">
    <a routerLink="/trang-chu" routerLinkActive="active">
      <div class="logo">
        <div class="image_logo"></div>
        <div class="title">
          <div class="HS">HS|Hair Salon</div>
        </div>
      </div>
    </a>
    <div class="text"><p>Salon hàng đầu Việt Nam. <br/>Với phương châm 'Come With Us, Come With Road Value'.</p></div>
  </div>
  <div class="grid2">
    <div class="list">
      <div class="list-item"><a routerLink="/trang-chu" routerLinkActive="active">Trang Chủ</a></div>
      <div class="list-item"><a routerLink="/dich-vu" routerLinkActive="active">Sản Phẩm</a></div>
      <div class="list-item"><a routerLink="/about-us" routerLinkActive="active">Giới Thiệu</a></div>
      <div class="list-item"><a routerLink="/contact" routerLinkActive="active">Liên Hệ</a></div>
    </div>
  </div>
  <div class="grid3">
    <div class="letter">
      <p>Đăng kí vào danh sách gửi thư của Hair Salon để nhận được các tin tức mới nhất.</p>
      <div class="mail-contact">
        <form class="send_form" >
          <input class="mail_input" placeholder="Mail của bạn">
          <input type="image" class="send_button" src="assets/images/send.png" alt="">
        </form>
      </div>
    </div>
    <div class="info">
      <div class="info-left">
        <p>Hotline: 0123456789</p>
        <p>Mail:frontend@gmail.com</p>
        <p>Điạ Chỉ: TP Hồ Chí Minh, Việt Nam</p>
      </div>
      <div class="info-right">
        <div class="info-face link"><div class="img-face face-inta"></div> <p>https//:www.facebook.com/frontend/</p></div>
        <div class="info-inta link"><div class="img-inta face-inta"></div> <p>https//:www.intagram.com/frontend/</p></div>
      </div>
    </div>
  </div>
</div>
