
<body>
<form class="container-dangnhap">
					<span class="tieudedangnhap">
						Đăng Nhập
					</span>
  <div class="nhac-dinh-dang-emali" data-validate = "Giá trị ở dạng: ex@abc.xyz">
    <input class="input100" type="text" name="email" placeholder="Email">
    <span class="focus-input100"></span>
    <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
  </div>
<br> <br>
  <div class="nhac-dinh-dang-mat-khau" data-validate = "Password is required">
    <input class="input100" type="password" name="pass" placeholder="Mật khẩu">
    <span class="focus-input100"></span>
    <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
  </div>
<br>
  <div class="container-login100-form-btn">
    <button class="login100-form-btn">
      ĐĂNG NHẬP
    </button>
  </div>

  <div class="text-left">
    <p></p><a class="txt2" href="#">
    Quên mật khẩu
    <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
  </a>
  </div>

  <div class="text-center">
						<span class="txt1">
							Bạn chưa có tài khoản?
						</span>
    <a class="txt2" href="#">
      Đăng ký
    </a>
  </div>


</form>
</body>
