<div class="container" >
<form class="container-dangnhap">
					<span class="tieudedangnhap">
						Đăng Nhập
					</span>
  <div class="container-dangnhap-formdangnhap">
    <br>
    <div>
      <input class="input100" type="text" name="email" placeholder="Email">
    </div>
    <br>
    <div>
      <input class="input100" type="password" name="pass" placeholder="Mật khẩu">
    </div>
    <br>
  </div>
  <div class="container-login100-form-btn">
    <button class="login100-form-btn">
      ĐĂNG NHẬP
    </button>
  </div>

  <div class="text-left">
    <p></p><a class="txt2" href="#">
    Quên mật khẩu
    <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
  </a>
  </div>
<br>
  <div class="text-center">
						<span class="txt1">
							Bạn chưa có tài khoản?
						</span>
    <a class="txt2" href="#">
      Đăng ký
    </a>
  </div>


</form>

  </div>
