<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="contact.component.css" rel="stylesheet">
  <title>Title</title>
</head>
<body>
<div class="content">
  <div class="title"><h3>Liên Hệ</h3></div>
  <div class="contact">
    <div class="img"></div>
    <div class="form-contact">
      <div class="form">
        <div class=" name-mail">
          <input type="text" class="item name" placeholder="Họ Tên ">
          <input class="item email" type="email" placeholder="Email">
        </div>
        <input class="item subject" type="text" placeholder="Tiêu đề">
        <textarea class="item content-form" placeholder="Nội dung..."></textarea>
        <button class="item send">Gửi</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
