<div class="container" >
  <form class="container-dangky">
					<span class="tieudedangky">
						Đăng ký
					</span>

    <div class="container-dangky-formdangky">
      <br>
    <div>
      <input class="input100" type="text" name="email" placeholder="Nhập địa chỉ Email">
    </div>
    <br>
    <div>
      <input class="input100" type="password" name="pass" placeholder="Mật khẩu">
    </div>
    <br>
    <div>
      <input class="input100" type="password" name="repass" placeholder="Nhập lại Mật khẩu">
    </div>
    <br>
    <div>
      <input class="input100" type="text" name="ten" placeholder="Họ và tên">
    </div>
    <br>
    <div>
      <input class="input100" type="text" name="diachi" placeholder="Địa chỉ liên lạc">
    </div>
    <br>
    </div>
    <div class="container-login100-form-btn">
      <button class="login100-form-btn" (click)="onDangKy()">
        ĐĂNG KÝ
      </button>
    </div>
      <BR>
    <div class="text-center">
						<span class="txt1">
							Bạn đã có tài khoản?
						</span>
      <a class="txt2" routerLink="/dang-nhap" routerLinkActive="active">
        Đăng Nhập
      </a>
    </div>


  </form>

</div>
